.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 250px;
  max-width: 500px;
   width: 100%;
}

.example-full-width {
  padding-top: 100px;
  padding-left: 20px;
  width: 33%;
}

.footer{
  color: #fff;
  font-size: small;
  font-weight: 300;
  text-align: center;
  /* padding: 10px; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.ancora-link{
  color: #fff;
  text-decoration: none;
}
