  <mat-toolbar color="primary">
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Crie Voz</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Botão para sair do site com um ícone de seta">
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar color="primary" class="footer" aria-label="Rodapé do site, indicando qual api foi usada na construção da página">
      <mat-toolbar-row>
          <p> &copy; 2023 This website was created utilizing <a href="https://elevenlabs.io/speech-synthesis" class="ancora-link" >11.ai</a></p>
      </mat-toolbar-row>
  </mat-toolbar>

     <router-outlet></router-outlet>
